#buybox{
    background: #F6F4F5;
    .buybox{
        background: #fff;
        padding-left: 45px;
        .bb_top{
            background: #F6F4F5;
            font-size: 12px;
            color: #797979;
            padding-top: 15px;
            height: 50px;
            ul{
                li{
                    float: left;
                }
            }
            >a{
                width: 88px;
                height: 20px;
                display: inline-block;
                background: url(../css/img/zxkf.png);
            }
        }
        .bb_part{
            padding-top: 20px;
            position: relative;
            .glass{
                ul{
                    padding-right: 20px;
                    .listpic{
                        border: 1px solid #EEEEEE;
                        cursor: pointer;
                        margin-bottom: 10px;
                        padding: 1px;
                        img{
                            width: 72px;
                            height: 72px;
                        }                      
                    }
                    .last{
                        margin-bottom: 0;
                    }
                }
                .datu{
                    position: relative;
                    width: 420px;
                    height: 420px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .datuBtn{
                        position: absolute;
                        display: inline-block;
                        width: 140px;
                        height: 140px;
                        background: rgba(0,0,0,0.5);
                        display: none;
                    }
                }
                .glassImg{
                    position: absolute;
                    width: 420px;
                    height: 420px;
                    top: 20px;
                    left: 516px;
                    overflow:hidden;
	                display:none;
                    img{
                        width: 840px;
                        height: 840px;
                        position: absolute;
                    }
                }
                p{
                    line-height: 40px;
                    color: #666666;
                    font-size: 15px;
                    span{
                        a{
                            width: 23px;
                            height: 18px;
                            background: url(../img/goods/shareicon.png);
                            display: inline-block;
                        }
                        .weixing{
                            background-position: 0px 18px;
                        }
                        .weibo{
                            background-position: 23px 18px;
                        }
                        .weixing:hover{
                            background-position: 0px 0px;
                        }
                        .weibo:hover{
                            background-position: 23px 0px;
                        }
                    }
                }
            }
            .itemMsg{
                width: 599px;
                margin-left: 40px;
               .msg_top{
                   margin-bottom: 20px;
                    h3{
                        float: left;
                        line-height: 20px;
                        color: #000;
                        font-weight: 700;
                    }
                    a{
                        width: 80px;
                        float: right;
                        text-align: center;
                        font-size: 13px;
                        line-height: 20px;
                        em{
                            background: rgb(161,139,126);
                            color: #fff;
                            border-radius: 4px 4px;
                            padding: 1px 5px;
                        }
                    }
               }
               .price_box{
                    background: #eee;
                    font-size: 12px;
                    color: #666;
                    padding: 10px 0 10px 10px;

                    p{
                        padding-top: 10px;
                        line-height: 26px;
                    }
                   .p_money{
                       span{
                            color: #c40000;
                            font-size: 16px;
                            .ps_money{
                                font-size: 24px;
                                font-weight: 900;
                            }
                       }
                   }
                   .juan{
                        span{
                            padding: 0 10px;
                            color: #df3033;
                            font-size: 12px;
                            border: 1px solid red;
                            margin-right: 5px;
                            background: #ffdedf;
                        }
                   }
                   .cuxiao{
                       span{
                            background: #c40000;
                            color: #fff;
                            line-height: 18px;
                            padding: 0 5px;
                       }
                   }
               }
               .peison{
                    line-height: 25px;
                    padding: 10px 0;
                    font-size: 12px;
               }
               .pay{
                    line-height: 36px;
                    border-top: 1px dashed #c9c9c9;
                    border-bottom: 1px dashed #c9c9c9;
                    color: #B4B4B4;
                    font-size: 12px;
                    li{
                        float: left;
                        width: 170px;
                        text-align: center;
                    }
                    .gz,.pj{
                        span{
                            color: #c40000;
                            font-weight: 900;
                        }
                    }
                    .jf{
                        span{
                            font-weight: 900;
                            color: #228800;
                        }
                    }
               }
               .msg_count{
                   padding-top: 15px;
                   >span{
                       font-size: 12px;
                       line-height: 30px;
                   }
                   .c_count{
                        width: 36px;
                        height: 28px;
                        border: 1px solid #c9c9c9;
                        text-align: center;
                        line-height: 28px;
                   }
                   .c_suan{
                       width: 20px;
                       margin-left: 15px;
                       span{
                           display: block;
                            width: 18px;
                            height: 12px;
                            border: 1px solid #c9c9c9;
                            text-align: center;
                            line-height: 10px;
                            cursor: pointer;
                            background: #fff;
                            margin-bottom: 3px;
                       }
                   }
               }
               >p{
                   padding-top: 20px;
                   span{
                        display: inline-block;
                        width: 180px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        margin-right: 10px;
                        cursor: pointer;
                   }
                   .nowbuy{                      
                        border: 1px solid red;
                        background: #ffdedf;
                        color: #df3033;
                   }
                   .m_addCar{
                        background: #c40000;
                        color: #fff;
                   }
               }
            }
        }

        .tuijian{
            padding-top: 20px;
            padding-bottom: 50px;
            dt{
                height: 80px;
                line-height: 80px;
            }
            dd{
                ul{
                    li{
                        width: 256px;
                        height: 130px;
                        border: 1px solid #EFEFEF;
                        margin-right: 10px;
                        float: left;
                        font-size: 13px;
                        a{
                            img{
                                width: 125px;
                                height: 130px;
                                float: left;
                            }
                            div{
                                width: 120px;
                                padding-left: 10px;
                                padding-top: 30px;
                                span{
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tuwen{
            .tw_top{
                line-height: 60px;
                border-bottom: 2px solid #EEEEEE;
                margin-right: 75px;
                span{
                    color: #797979;
                    padding: 0 25px;
                    cursor: pointer;
                    font-size: 18px;
                }
            }
        } 
        .msg_pingjia{
            padding-top: 40px;
            padding-right: 75px;
            .pj_all{
                height: 150px;
                border: 1px solid #E5E5E5;
                padding: 25px 40px;
                div{
                    float: left;
                }
                .a1{
                    width: 229px;
                    line-height: 34px;
                    border-right: 1px solid #E5E5E5;
                    .a1_p2{
                        color: #DC3334;
                        em{
                            display: inline-block;
                            width: 98px;
                            height: 10px;
                            background: #DB3437;
                            margin-right: 10px;
                        }
                    }
                    .a1_p3{
                        color: #999999;
                        font-size: 13px;
                    }
                }
                .a2{
                    height: 100%;
                    width: 514px;
                    border-right: 1px solid #E5E5E5;
                    line-height: 34px;
                    padding-left: 45px;
                }
                .a3{
                    height: 100%;
                    line-height: 34px;
                    padding-left: 40px;
                }
            }
            .pingjia{
                padding-top: 20px;
                dt{
                    background: #F5F5F5;
                    padding-left: 30px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 12px;
                    color: #666666;
                    .sp1{
                        margin-right: 630px;
                    }
                    .sp3{
                        margin-left: 170px;
                    }
                }
                dd{
                    ul{
                        li{
                            padding-left: 30px;
                            padding-top: 20px;
                            padding-right: 77px;
                            height: 90px;
                            border-left: 1px solid #E5E5E5;
                            border-right: 1px solid #E5E5E5;
                            border-bottom: 1px solid #E5E5E5;
                            font-size: 12px;
                            .lis1{
                                padding-top: 20px;
                                margin-right: 20px;
                                width: 640px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .lis_img{
                                padding-top: 20px;
                            }
                            .lis2{
                                width: 80px;
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .msg_footer{
            padding-top: 50px;
        }
    }  
}
