#searchbox .searchbox {
  font-size: 12px;
  margin-bottom: 65px;
}

#searchbox .searchbox > div {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px dashed #d4d4d4;
}

#searchbox .searchbox .aa {
  margin-right: 30px;
  color: #848484;
}

#searchbox .searchbox .search-hassel a {
  height: 23px;
  border: 1px solid #D4D4D4;
  margin-top: 7px;
  color: #333333;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-right: 10px;
}

#searchbox .searchbox .search-hassel a .close_tj {
  background: #DD3F45;
  color: #FFFFFF;
  padding-left: 4px;
  padding-right: 4px;
}

#searchbox .searchbox .search-rqpp {
  height: 75px;
  line-height: 75px;
}

#searchbox .searchbox .search-rqpp ul li {
  float: left;
}

#searchbox .searchbox .search-rqpp ul li a {
  width: 98px;
  height: 31px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #D4D4D4;
  display: inline-block;
}

#searchbox .searchbox .search-rqpp ul li a:hover {
  background: #DD3F45;
  color: #FFFFFF;
}

#searchbox .searchbox .search-cd ul li {
  float: left;
  margin-right: 15px;
  text-align: center;
}

#searchbox .searchbox .search-cd ul li a {
  display: inline-block;
  color: #848484;
  padding: 0 10px;
}

#searchbox .searchbox .search-cd ul li a:hover {
  background: #DD3F45;
  color: #FFFFFF;
}

#w_center {
  color: #333333;
  font-size: 13px;
  padding-bottom: 30px;
  background: whitesmoke;
}

#w_center .w_center .listbox-sort {
  height: 90px;
  line-height: 80px;
}

#w_center .w_center .listbox-sort div {
  width: auto;
  height: auto;
  border: 1px solid #CCCCCC;
  line-height: 28px;
  margin-top: 26px;
  margin-left: 15px;
  border-radius: 3px;
}

#w_center .w_center .listbox-sort div a {
  width: 84px;
  border-right: 1px solid #CCCCCC;
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  color: #333333;
}

#w_center .w_center .listbox-sort div .last {
  border-right: 0;
}

#w_center .w_center .listbox-sort div .active {
  background: red;
}

#w_center .w_center .product_list {
  background: #FFFFFF;
  font-size: 12px;
}

#w_center .w_center .product_list ul li {
  width: 300px;
  height: 438px;
  border: 1px solid #CCCCCC;
  float: left;
  padding: 0 30px;
  padding-top: 30px;
}

#w_center .w_center .product_list ul li a {
  display: inline-block;
}

#w_center .w_center .product_list ul li a img {
  width: 230px;
  height: 230px;
}

#w_center .w_center .product_list ul li a .pr_name {
  padding-top: 15px;
  height: 61px;
  line-height: 23px;
}

#w_center .w_center .product_list ul li a .pr_name span {
  display: inline-block;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#w_center .w_center .product_list ul li a .pr_name em {
  color: #A1A1A1;
}

#w_center .w_center .product_list ul li a .pr_huodong {
  padding-top: 5px;
  height: 23px;
  line-height: 23px;
}

#w_center .w_center .product_list ul li .add_car p i {
  color: #DC3334;
}

#w_center .w_center .product_list ul li .add_car p span {
  color: #DC3334;
  font-size: 25px;
}

#w_center .w_center .product_list ul li .add_car button {
  width: 80px;
  height: 30px;
  color: #FFFFFF;
  background: #E73736;
  text-align: center;
  cursor: pointer;
}

#w_center .w_center .product_list ul li .pr_pingjia {
  color: #9B9B9B;
  padding-top: 10px;
}

#w_center .w_center .product_list ul li:hover {
  border-bottom: 3px solid #CF010E;
}

#w_center .fengye {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

#w_center .fengye span {
  display: inline-block;
  padding: 5px 12px;
  background: #ccc;
  margin: 0 5px;
}

#w_center .fengye p {
  display: inline-block;
}

#w_center .fengye .active {
  color: #fff;
  background: #CF010E;
}
